@model List<Model.Entity.Atendente>
@{
    ViewBag.Title = "Atendentes Cadastrados";
}
<h2 class="text-center text-info">Atendentes Cadastrados</h2>
<div class="well well-sm">
    <a class="btn btn-primary" href="~/Atendente/Create">Novo</a>
    <a class="btn btn-info" href="~/Atendente/BuscarAtendentes">Buscar</a>
</div>

<div class="table-responsive">
    <table class="table table-hover table-striped" summary="Tabela com lista dos atendentes cadastrados no sistema" style="padding:10px;">
        <thead>
            <tr class="bg-primary">
                <th>Nome</th>
                <th>CPF</th>
                <th>Função</th>
                <th colspan="3">Operações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var objAtendente in Model)
            {
                <tr>
                    <td>@objAtendente.Nome</td>
                    <td>@objAtendente.Cpf</td>
                    <td>@objAtendente.Funcao</td>
                    <td><a class="btn btn-success" href="~/Atendente/Find/@objAtendente.Matricula">Detalhes</a></td>
                    <td><a class="btn btn-info" href="~/Atendente/Update/@objAtendente.Matricula">Editar</a></td>
                    <td><a class="btn btn-danger" href="~/Atendente/Eliminar/@objAtendente.Matricula">Excluir</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>