@model List<Model.Entity.Empresa>
@{
    ViewBag.Title = "Empresas Cadastradas";
}
<h2 class="text-center text-info">Empresas Cadastradas</h2>
<div class="well well-sm">
    <a class="btn btn-primary" href="~/Empresa/Create">Novo</a>
    <a class="btn btn-info" href="~/Empresa/BuscarEmpresas">Buscar</a>
</div>
<div class="table-responsive">
    <table class="table table-hover table-striped" summary="Tabela listando todas as empresas cadastradas" style="padding:10px;">
        <thead>
            <tr class="bg-primary">
                <th>Nome Fantasia</th>
                <th>Telefone</th>
                <th>CNPJ</th>
                <th colspan="3">Operações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var objEmpresa in Model)
            {
                <tr>
                    <td>@objEmpresa.NomeFantasia</td>
                    <td>@objEmpresa.Telefone</td>
                    <td>@objEmpresa.Cnpj</td>
                    <td><a class="btn btn-success" href="~/Empresa/Find/@objEmpresa.CodEmpresa">Detalhes</a></td>
                    <td><a class="btn btn-info" href="~/Empresa/Update/@objEmpresa.CodEmpresa">Editar</a></td>
                    <td><a class="btn btn-danger" href="~/Empresa/Eliminar/@objEmpresa.CodEmpresa">Excluir</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>

