
@{
    ViewBag.Title = "About";
}
<div class="jumbotron text-center">
    <h1>PIM ADS 2018</h1>
    <h3 class="text-info">Integrantes da Equipe</h3>
</div>
<div class="container">
    <div class="row text-center">
        <div class="col-sm-4">
            <h3 class="text-info text-uppercase">Alexandre Henrique</h3>
            <p>DBA | Analista de Negócio</p>
        </div>
        <div class="col-sm-4">
            <h3 class="text-info text-uppercase" >Bruno Alves</h3>
            <p>Gerente do Projeto | Engenheiro de Software</p>
        </div>
        <div class="col-sm-4">
            <h3 class="text-info text-uppercase">Kyem Victor</h3>
            <p>Desenvolvedor Front-End</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-4">
            <h3 class="text-info text-uppercase">Leandro Ferreira</h3>
            <p>Desenvolvedor FullStack</p>
        </div>
        <div class="col-sm-4">
            <h3 class="text-info text-uppercase">Lucas Sampaio</h3>
            <p>Analista de Sistemas | QA</p>
        </div>
        <div class="col-sm-4">
            <h3 class="text-info text-uppercase">Rafael Carlos</h3>
            <p>Analista de Sistemas | Tester</p>
        </div>
    </div>
</div>
