
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron text-center">
    <h1>INFOTECH</h1>
    <h3 class="text-info">Gerenciamento de Chamados</h3>
</div>


<p class="text-justify" style="padding:10px;">
    Este documento apresenta o projeto de um sistema de chamados para uma grande empresa de suporte de equipamentos de informática em seu HelpDesk.
    Abordamos de forma minuciosa, cada etapa do projeto, detalhando desde o levantamento de requisitos funcionais e não funcionais, passando pelo planejamento, com a descrição da arquitetura do sistema e sua infraestrutura, a construção de artefatos UML para um melhor entendimento de cada processo do negócio e a execução do projeto, apresentando melhorias que poderão ser implementadas em versões futuras.
    Este projeto é baseado nos cinco processos do PMBOK e nos principios do manifesto ágil, unindo o melhor dos dois mundos, para entregar um sistema de qualidade que atende as especificações levantadas junto as partes interessadas deste projeto.
    O sistema foi desenvolvido levando em consideração a acessibilidade e responsividade, possuindo um modulo Web e outro desktop, se tratando de um mesmo sistema com uma única camada de negócios e de acesso a dados, com duas camadas de apresentação, conforme solicidado.
</p>
